<div class="d-flex align-items-stretch">
  <app-filter-side-bar
    [listCategories]="listCategoriesFilter"
    (idCategories)="rechercheCat($event)"
    (filterPrice)="onPriceFiltered($event)"
    (filterStar)="onStarFiltered($event)"
  ></app-filter-side-bar>

  <div class="custom-main container p-3">
    <input
      class="form-control"
      type="text"
      placeholder="Recherche ta belle plante"
      aria-label="Input Recherche ta belle plante"
      (input)="searchInput($event)"
    />

    <div class="py-3">
      Trier par :
      <button
        class="btn btn-outline-success btn-sm me-2"
        (click)="triPrixPlant($event)"
      >
        Prix
      </button>
      <button
        class="btn btn-outline-success btn-sm me-2"
        (click)="triAlphaPlant($event)"
      >
        Ordre Alpha
      </button>
      <button
        class="btn btn-outline-success btn-sm me-2"
        (click)="triAvisPlant($event)"
      >
        Avis
      </button>
    </div>

    <div class="row">
      <div class="col" *ngFor="let product of listData">
        <app-card-plante [plant]="product" (clickLike)="onEventLike()">
        </app-card-plante>
      </div>
    </div>
  </div>
</div>
