<div class="d-flex align-items-stretch">
  <app-filter-side-bar
    [listCategories]="listCategoriesFilter"
    (idCategories)="rechercheCat($event)"
    (filterPrice)="onPriceFiltered($event)"
    (filterStar)="onStarFiltered($event)"
  ></app-filter-side-bar>

  <div class="custom-main container p-3">
    <input
      class="form-control"
      type="text"
      placeholder="Recherche ta belle plante"
      aria-label="Input Recherche ta belle plante"
      (input)="searchInput($event)"
    />

    <div class="py-3">
      Trier par :
      <button
        class="btn btn-outline-success btn-sm me-2"
        (click)="triPrixPlant($event)"
      >
        Prix
        <app-icon
          [iconName]="upDownPrix ? 'caret-up-square' : 'caret-down-square'"
        ></app-icon>
      </button>
      <button
        class="btn btn-outline-success btn-sm me-2"
        (click)="triAlphaPlant($event)"
      >
        Ordre Alpha
        <app-icon
          [iconName]="upDownAlpha ? 'caret-up-square' : 'caret-down-square'"
        ></app-icon>
      </button>
      <button
        class="btn btn-outline-success btn-sm me-2"
        (click)="triAvisPlant($event)"
      >
        Avis
        <app-icon
          [iconName]="upDownAvis ? 'caret-up-square' : 'caret-down-square'"
        ></app-icon>
      </button>
    </div>

    <div class="row">
      <div class="py-3" *ngIf="listData.length == 0; else productList">
        Aucun produit correspondant.
      </div>
      <ng-template #productList>
        <div class="col" *ngFor="let product of listData">
          <app-card-plante [plant]="product" (clickLike)="onEventLike($event)">
          </app-card-plante>
        </div>
      </ng-template>
    </div>
  </div>
</div>
